In [95]:
import pandas as pd 
import numpy as np 
 
data = (pd.read_csv('horse_data.csv',
                    names = ['surgery?','Age','Hospital Number','rectal temperature','pulse','respiratory rate','temperature of extremities','peripheral pulse','mucous membranes','capillary refill time','pain','peristalsis','abdominal distension','nasogastric tube','nasogastric reflux','nasogastric reflux PH','rectal examination - feces','abdomen','packed cell volume','total protein','abdominocentesis appearance','abdomcentesis total protein','outcome','surgical lesion','type of lesion 1','type of lesion 2','type of lesion 3','cp_data'],na_values=['?']))[['surgery?','Age','rectal temperature','pulse','respiratory rate','temperature of extremities','pain','outcome']] 
display(data)

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [112]:
#ОСНОВНАЯ СТАТИСТИКА
def basics_metrics(column):
    row = {'name': column.name, 'max': column.max(), 'min': column.min(), 'difference': (column.max() - column.min()),
           'mode': column.mode()[0], 'median': column.median(),'std': column.std(), 'mean': column.mean(),
           'quantile_25': column.quantile(0.25),'quantile_75': column.quantile(0.75),
           'IQR': (column.quantile(0.75)- column.quantile(0.25))}

    return row


table = pd.DataFrame()
table = pd.DataFrame(data.apply(basics_metrics).tolist())
table

,name,max,min,difference,mode,median,std,mean,quantile_25,quantile_75,IQR
0,surgery?,2.0,1.0,1.0,1.0,1.0,0.490305,1.397993,1.0,2.0,1.0
1,Age,9.0,1.0,8.0,1.0,1.0,2.173972,1.640000,1.0,1.0,0.0
2,rectal temperature,40.8,35.4,5.4,38.0,38.2,0.732289,38.167917,37.8,38.5,0.7
3,pulse,184.0,30.0,154.0,48.0,64.0,28.630557,71.913043,48.0,88.0,40.0
4,respiratory rate,96.0,8.0,88.0,20.0,24.5,17.642231,30.417355,18.5,36.0,17.5
5,temperature of extremities,4.0,1.0,3.0,3.0,3.0,1.045054,2.348361,1.0,3.0,2.0
6,pain,5.0,1.0,4.0,3.0,3.0,1.307940,2.951020,2.0,4.0,2.0
7,outcome,3.0,1.0,2.0,1.0,1.0,0.737187,1.551839,1.0,2.0,1.0

In [113]:
#ВЫБРОСЫ
def outlier(row, data_):
      print(data_.query('`'+row['name']+'`'+' > '+str(row['quantile_75']+1.5*row['IQR'])+' or ' +'`'+ row['name']+'`'+' < '+str(row['quantile_25']-1.5*row['IQR']))[row['name']])

table.apply(outlier, data_ = data, axis = 1)

Series([], Name: surgery?, dtype: float64)
3      9
9      9
13     9
16     9
23     9
39     9
41     9
55     9
74     9
75     9
82     9
103    9
109    9
135    9
191    9
212    9
227    9
229    9
244    9
252    9
255    9
262    9
275    9
287    9
Name: Age, dtype: int64
20     39.9
44     35.4
54     40.3
75     39.7
80     36.4
91     40.3
99     39.6
118    36.5
141    36.0
238    36.1
251    36.6
259    40.8
281    40.0
298    36.5
Name: rectal temperature, dtype: float64
3      164.0
41     150.0
55     160.0
255    184.0
275    150.0
Name: pulse, dtype: float64
3      84.0
39     96.0
41     72.0
82     80.0
84     80.0
103    68.0
106    96.0
120    66.0
125    68.0
186    90.0
208    80.0
229    70.0
244    88.0
255    84.0
265    68.0
269    90.0
295    70.0
Name: respiratory rate, dtype: float64
Series([], Name: temperature of extremities, dtype: float64)
Series([], Name: pain, dtype: float64)
Series([], Name: outcome, dtype: float64)

0    None
1    None
2    None
3    None
4    None
5    None
6    None
7    None
dtype: object

In [37]:
#ПУСТЫЕ СТОЛБЦЫ
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    float64
 1   Age                         300 non-null    int64
 2   rectal temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory rate            242 non-null    float64
 5   temperature of extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

In [ ]:
data['Age'].fillna(titanic['Age'].mode()[0], inplace=True)